@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <figure class="figure player-name @TempData["HighlightP1"]">
                            <img src="~/images/playerplaceholder copy.jpg" class="img-fluid rounded d-inline" alt="Player image">
                            <figcaption class="figure-caption font-weight-bold text-center">THING 1</figcaption>
                        </figure>
                       
                    </div>
                    <div class="col">
                        <h1 class="score d-inline">@TempData["Player1Score"]</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div><h5 class="text-center m-3">Turns left: @TempData["NumberTurnsLeft"]</h5></div>
                <div><h1 class="display-4 text-center m-5">@TempData["WinnerName"] </h1></div>
                <div><h1 class="text-center mb-3">@TempData["WinnerTxt"] </h1></div>
                <div><h1 class="display-1 text-center mb-3">@TempData["Winner"] </h1></div>
                <div><h1 class="text-center"><a class="nav-link text-success" asp-area="#" asp-controller="Home" asp-action="NewGame">@TempData["PlayAgainLink"]</a>  @TempData["PlayAgainTxt"]</h1></div>
                <div class="row">
                    <div class="col"><a asp-controller="Home" asp-action="ThumbsDown"><img src="~/images/ThumbDown.png" class="img-fluid d-inline @TempData["Visibility"]" alt="Thumbs down"></a></div>
                    <div class="col"><a asp-controller="Home" asp-action="ThumbsUp"><img src="~/images/ThumbUp.png" class="img-fluid d-inline @TempData["Visibility"]" alt="Thumbs up"></a></div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1 class="score float-right d-inline">@TempData["Player2Score"]</h1>
                       
                    </div>
                    <div class="col">
                        <figure class="figure player-name @TempData["HighlightP2"]">
                            <img src="~/images/playerplaceholder copy.jpg" class="img-fluid rounded d-inline" alt="Player image">
                            <figcaption class="figure-caption font-weight-bold text-center">THING 2</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

        </div>
                
            
        <div class="row mt-3">
            <div class="col"><a class="btn p-0 @TempData["ActionCardState"]" name="ActionButton" asp-controller="Home" asp-action="GetRandomAction"><img src="~/images/ActionButton.jpg" class="img-fluid rounded" alt="Action card"></a></div>
            <div class="col"><a class="btn p-0 @TempData["PlaceCardState"]" asp-controller="Home" asp-action="GetRandomPlace"><img src="~/images/PlaceButton.jpg" class="img-fluid rounded" alt="Place card"></a></div>
            <div class="col"><a class="btn p-0 @TempData["ChallengeCardState"]" asp-controller="Home" asp-action="GetRandomChallenge"><img src="~/images/ChallengeButton.jpg" class="img-fluid rounded" alt="Challenge card"></a></div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <div class="card overflow-hidden text-center">
                    <img src="~/images/CardBorder.png" class="img-fluid rounded" alt="Action card flipped border" />
                    <div class="card-img-overlay d-flex flex-column justify-content-center"><p>@TempData["RandomAction"]</p></div>
                </div>
            </div>
            <div class="col">
                <div class="card overflow-hidden text-center">
                    <img src="~/images/CardBorder.png" class="img-fluid rounded" alt="Action card flipped border" />
                    <div class="card-img-overlay d-flex flex-column justify-content-center"><p>@TempData["RandomPlace"]</p></div>
                </div>
            </div>
            <div class="col">
                <div class="card overflow-hidden text-center">
                    <img src="~/images/CardBorder.png" class="img-fluid rounded" alt="Action card flipped border" />
                    <div class="card-img-overlay d-flex flex-column justify-content-center"><p>@TempData["RandomChallenge"]</p></div>
                </div>
            </div>

        </div>
    </div>