@model IDidThatGame.Models.PlaceItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlaceItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlaceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
